<html>
 <head>
     <title>All Articles</title>
 </head>   
  <body>
      
      <h1>List of All Articles</h1>
            <hr>
<% console.log(articles) %>
  <% for(var i=0; i<articles.length; i++) { %>
    <h1> <%= articles[i].title %> </h1>
    <p> id: <%= articles[i].id%> </p>
     <p> user: <%= articles[i].user%> </p>
    <h3><%= articles[i].content%></h3>
    <h3><%= articles[i].created%></h3>
          <hr>
    <% } %>
  </body>  
</html>