<html>
 <head>
     <title>All Products</title>
 </head>   
  <body>
      
      <h1>List of All products</h1>
            <hr>
<% console.log(products) %>
  <% for(var i=0; i<products.length; i++) { %>
    <h1> <%= products[i].name %> </h1>
    <p> ID: <%= products[i].id%> </p>
     <p> Price: <%= products[i].price%> </p>
     <p> Quantity: <%= products[i].quantity%> </p>
    <p>Description: <%= products[i].description%></p>
    <p>Time: <%= products[i].created%></p>
          <hr>
    <% } %>
  </body>  
</html>